body {
    background: url('./imgs/backgrounds/outside.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas.hover {
    cursor: url(imgs/UI/cursor.png), auto;
}

@font-face {
    font-family: 'Pixelate';
    src: url('./font/SFPixelate.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }